:root { 
--gray_600:#6e757e; 
--gray_51:#fdfbf8; 
--gray_400:#c3c3c3; 
--gray_500:#adadad; 
--amber_500:#ffc107; 
--gray_900_00:#1e181800; 
--bluegray_100:#d9d9d9; 
--teal_51:#caf3e5; 
--teal_50:#e0eff6; 
--gray_200:#f0f0f0; 
--gray_50:#fcfaf7; 
--gray_100:#f3f6f5; 
--deep_purple_50:#eeebff; 
--orange_50:#fff4e7; 
--black_900:#000000; 
--bluegray_400:#70908b; 
--teal_52:#e0f6f1; 
--teal_900:#07484a; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_26:#00000026; 
}