
 @font-face { font-style : bold; src: url("assets/fonts/PlayfairDisplayBold.ttf"); font-family : "Playfair Display"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/PlayfairDisplayRegular.ttf"); font-family : "Playfair Display"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/OpenSans.ttf"); font-family : "Open Sans"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/OpenSansBold.ttf"); font-family : "Open Sans"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/RobotoRegular.ttf"); font-family : "Roboto"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/OpenSansSemibold.ttf"); font-family : "Open Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/RobotoBold.ttf"); font-family : "Roboto"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/RobotoLight.ttf"); font-family : "Roboto"; font-weight : 300;  }
 @font-face { font-style : normal; src: url("assets/fonts/OpenSansRomanRegular.ttf"); font-family : "Open Sans"; font-weight : 400;  }